<div class="registraition-search-results-container" ng-show="duplicatedPatients.length > 0">
    <h6 style="color: #FF0000; font-weight: 600">{{ 'REGISTRATION_LABEL_WARNING' | translate}} {{numberOfDuplicatedPatients}} {{::'REGISTRATION_LABEL_SIMILAR_PATIENT_FOUND' | translate}}</h6>
    <table class="table">
        <thead>
            <tr>
                <th><strong>{{ ::'REGISTRATION_LABEL_SYSTEM_ID' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_IDTYPE_1_CNI_KEY' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_IDTYPE_2_ART_KEY' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_NAME' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_GENDER' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_AGE' | translate}}</strong></th>
                <th><strong>{{ ::'ADDRESSHIERARCHY_SUBDIVISION' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_PHONE_NUMBER' | translate}}</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in duplicatedPatients">
                <td>
                    <a tabindex="{{ :: 8 + $index + 1 }}" ng-click="forPatient(record).doExtensionAction(searchActions[0])">
                        {{record.systemIdentifier}}
                    </a>
                </td>
                <td>{{record.cni}}</td>
                <td>{{record.art}}</td>
                <td>{{record.name}}</td>
                <td>{{record.gender}}</td>
                <td>{{record.age}}</td>
                <td>{{record.subDivision}}</td>
                <td>{{record.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>