@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

button.save-consultation {
    margin: 8px 5px 0;
    padding: 10px 8px 9px;
}

.template-control .template-control-panel-button button {
    padding: 6px 10px 7px;
    max-width: 350px;
    font-size: 14px;
}