/* Custom Styles for FR long text in buttons */

button.save-consultation {
    margin: 8px 5px 0;
    padding: 10px 8px 9px;
    min-width:65px;
}

.template-control .template-control-panel-button button {
    padding: 6px 10px 7px;
    max-width: 350px;
    font-size: 14px;
}


/* Custom styles to help visibility in Long forms with multiple collapsible sections*/ 

.vitals fieldset legend {
    color: #000;
}

.vitals fieldset legend + .form-group legend {
    color: #000;
    left:40px;
}

.vitals fieldset.collapsible-set.collapsed legend.mylegend .fa {
    color:#fff;
}
.vitals fieldset.collapsible-set.collapsed legend {
    background-color: #5b8e8e !important;
    color: #fff;
}

.vitals fieldset.collapsible-set.collapsed legend.important{
	border-color: #F79256;
	border-width: 2px;
	background-color: #F79256!important;
}
.vitals fieldset.collapsible-set legend.mylegend.important{
	border-color: #F79256;
	border-width: 2px;
}

.vitals fieldset.collapsible-set legend.important::before,
.vitals fieldset.collapsible-set.collapsed legend.important::before,
.vitals fieldset .form-group .control-label.important::before {
    display: inline;
    font-family: FontAwesome;
    color: #F79256;
    -webkit-font-smoothing: antialiased;
    content: "\f071";
    margin-left: -1.3em;
}

.vitals fieldset.collapsible-set legend.important::before {
    color: #F79256;
}
.vitals fieldset.collapsible-set.collapsed legend.important::before {
    color: #FFF;
}
.vitals fieldset .form-group .control-label.important {
    text-decoration: none;
}

.form-group legend strong {
    font-family: OpenSans !important;
}  

/* Custom styles for important fields in program form */

.select-program-container .select-program-option.form-field .field-attribute label.important::before {
    display: inline;
    font-family: FontAwesome;
    color: #F79256;
    -webkit-font-smoothing: antialiased;
    content: "\f071"; 
}

.program-tiles .program-tile .form-field .field-attribute label.important::before {
    display: inline;
    font-family: FontAwesome;
    color: #F79256;
    -webkit-font-smoothing: antialiased;
    content: "\f071"; 
}

/* Custom styles for medication report */
.prescribe-report-logo {
    height: 80px;
    text-align: center;
}

.prescribe-report-hospital-name {
    font-style: italic;
    color: #999999;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.prescribe-report-label {
    font-size: 16px;
    line-height: 23px;
}

.prescribe-report-value {
    color: #000088;
    font-size: 16px;
    line-height: 23px;
}

.prescribe-report-title {
    color: black;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EEEEEE;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prescribe-report-drug-name {
    font-size: 23px;
    line-height: 26px;
    text-align: left;
    color: black;
}

.prescribe-report-signature {
    font-size: 18px;
    text-align: right;
    border-bottom: gray solid thin;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.prescribe-report-table {
    border: none;
}

.prescribe-report-td {
    border: none;
    vertical-align: top;
}

.prescribe-report-button-color {
    color:blue;
    background-color: yellow;
}

.results-box {
    border: 2px solid #ccc; /* Border for the box */
    padding: 10px; /* Add padding for spacing */
    text-align: center; /* Center the text horizontally */
}

.heading-box {
    background-color: #f2f2f2; /* Grey background for the heading */
    padding: 20px; /* Increase padding for a larger grey section */
}

.results-heading {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

.content-box {
    border: 1px solid #ccc; /* Border for the content box */
    padding: 10px; /* Add padding for spacing */
    background-color: #fff; /* Background color for the content box */
}

.table-heading {
    background-color: #f2f2f2; /* Grey background for table headings */
    font-weight: bold; /* Make the text bold */
}

.custom-text {
    color: black; /* Set the text color to black */
    padding: 10px 0;
    font-weight: bold;
}