
<div class="certificate-container" ng-if="certificateData">
    <center><img ng-if="certificateData.hospitalLogo" src="{{ certificateData.hospitalLogo }}" class="prescribe-report-logo"></center>
    <div class="certificate-header">{{ 'PRINT_HOSPITALIZATION_REPORT_LABEL' | translate }}</div>
    <div class="certificate-body">
        <div class="certificate-section">
            <span class="certificate-label">{{ 'HOSPITALIZATION_CERTIFICATE_UNDERSIGNED' | translate }}</span>
            <span class="certificate-value">{{ getFullname() }}</span>

        </div>
        <div class="certificate-section">
            <span class="certificate-label">{{ 'HOSPITALIZATION_CERTIFICATE_CERTIFIED_THAT' | translate }}</span>
            <span class="certificate-value">{{ getFullname() }}</span>
            <span class="certificate-value">{{ certificateData.patientInfo.age }}</span>

        </div>
        <div class="certificate-section">
            <span class="certificate-label">{{ 'HOSPITALIZATION_CERTIFICATE_AGE' | translate }}</span>
            <span class="certificate-value">{{certificateData.username}}</span>
        </div>
        <div class="certificate-section">
            <span class="certificate-label">{{ 'HOSPITALIZATION_CERTIFICATE_PROFESSION' | translate }}</span>
            <span class="certificate-value">{{ certificateData.patientInfo.occupation }}</span>
        </div>
        <div class="certificate-section">
            <span class="certificate-label">{{ 'HOSPITALIZATION_CERTIFICATE_ADMITTED_AT' | translate }}</span>
            <span class="certificate-value">{{ certificateData.hospitalName }}</span>
        </div>
        <div class="certificate-section">
            <span class="certificate-value">{{ certificateData.hospitalVillage }}</span>
        </div>
        <div class="certificate-section" style="text-align: center; font-weight: bold;">Signature</div>

    </div>
    <div class="certificate-statement">{{ 'HOSPITALIZATION_CERTIFICATE_WITNESS' | translate }}</div>
</div>
<div class="certificate-footer">{{ 'HOSPITALIZATION_CERTIFICATE_DATE' | translate }}: {{ getCurrentDate() }}</div>
